<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<canvas id="myCanvas" width="1500" height="800" style="border:1px solid #000000;">

    <script>
        var c = document.getElementById("myCanvas");
        var ctx = c.getContext("2d");

        ctx.translate(50, 400);

        ctx.beginPath();


        ctx.moveTo(-50,0);
        ctx.lineTo(1600,0);
        ctx.moveTo(10, -400);
        ctx.lineTo(10, 400);
        ctx.stroke();
        ctx.closePath();
        ctx.beginPath();
        ctx.strokeStyle = 'Red';

        ctx.moveTo({{start_coords.0}}, -{{start_coords.1}});
        {% for item in chart_data%}
            ctx.lineTo({{item.0}}, -({{item.1}}));
        {% endfor %}


        ctx.stroke();
        ctx.closePath();
    </script>

</canvas>



</body>
</html>
